# Eclipse IDE
.project
.cache
.buildpath
.externalToolBuilders

# Project directories
Projects/

# Virtual machines
.VirtualBox/
VirtualBox VMs/

# Auth information
.ssh/.agent_socket
.ssh/.agent_pid
.ssh/known_hosts
.ssh/*_rsa
.ssh/*_rsa.pub

# Application related
bin/
.gem/

# State / history files
.bash_history
.viminfo
